<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>


    <div class="container">
        <div class="row">
            <h1>Welcome to <strong>mylab</strong>!</h1>
        </div>

        <div class="row">
            <p>This is just an example laboratory using <a href="https://weblablib.readthedocs.org/en/stable/">weblablib</a>.</p>
            <p>Time: <span id="timer"></span>.
        </div>
        <br><br>

        <div id="panel">
            <div class="row">
                <h2>Lights: click on each light to change status (and read it in the console)</h2>
            </div>
            <br>
            <div class="row">
                {% for light in range(1, 11) %}
                <div class="col-sm-1 text-center">
                    Light {{ light }}
                    <br>
                    <a href="javascript:turnOff({{ light }})"><img width="50px" id="light_{{ light }}_on" src="https://openclipart.org/download/116581/bulb-on.svg"></a>
                    <a href="javascript:turnOn({{ light }})"><img width="50px" id="light_{{ light }}_off" src="https://openclipart.org/download/110269/1296215547.svg"></a>
                </div>
                {% endfor %}
            </div>
         </div>
     </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!-- Here we will have the scripts -->
    <script>
        var STATUS_URL = "{{ url_for('status') }}";
        var LIGHT_URL = "{{ url_for('light', number='LIGHT') }}";
    </script>
    <script src="{{ url_for('static', filename='lab.js') }}"></script>

  </body>
</html>

