{% extends "_bootstrap.html" %}

{% block body %}
    {{ super() }}

    <div class="container">
        <div class="row">
            <h1>Welcome to <strong>mylab</strong>!</h1>
        </div>
        <br>

        {#
            If the user refreshes the website AFTER the time...
        #}
        {% if not weblab_user.active %}
            <div class="row">
                <div class="alert alert-danger col-md-6 col-md-offset-3">
                    <div class="text-center">
                        <h3>Your session is expired</h3>
                    </div>

                    <p>However, given that in <tt>views.py</tt> the view <tt>index</tt> is using <tt>@requires_login</tt> instead of <tt>@requires_active</tt>, the user can still access the lab</p>
                    <br>
                    <div class="text-center">
                        <a class="btn btn-danger" href="{{ weblab_user.back }}">Go back</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="pull-right">
                    <a class="btn btn-warning" href="javascript:logout()">Log out</a>
                    <br><br>
                </div>
            </div>
        {% endif %}


        <div class="row">
            <p>This is just an example laboratory using <a href="https://weblablib.readthedocs.org/en/stable/">weblablib</a>. Imagine that we have 10 lights and a microcontroller with some code that interacts with them. Here we can turn on and off the lights and send programs to the microcontroller.</p>
            <p>Time: <span id="timer"></span>.
        </div>
        <br><br>

        <div id="panel">
            <div class="row">
                <h2>Lights: click on each light to change status (and read it in the console)</h2>
            </div>
            <br>
            <div class="row">
                {% for light in range(1, 11) %}
                <div class="col-sm-1 text-center">
                    Light {{ light }}
                    <br>
                    <a href="javascript:turnOff({{ light }})"><img width="50px" id="light_{{ light }}_on" src="https://openclipart.org/download/116581/bulb-on.svg"></a>
                    <a href="javascript:turnOn({{ light }})"><img width="50px" id="light_{{ light }}_off" src="https://openclipart.org/download/110269/1296215547.svg"></a>
                </div>
                {% endfor %}
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    Microcontroller status: <span id="microcontroller_status"></span>
                </div>
                <div class="col-sm-4">
                    <a class="btn btn-success" href="javascript:sendProgram('good')">Send good program</a>
                    <br>
                    <br>

                    <a class="btn btn-danger" href="javascript:sendProgram('division-by-zero')">Send bad program</a>
                </div>
            </div>

            <div class="row text-center">
                <div style="display: none" class="alert alert-danger" id="error_messages_box">
                    <h3>Error</h3>
                    <p id="error_messages"></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {# This comes by default from weblablib, while it requires to have JQuery previously imported #}
    {{ weblab_poll_script() }}

    <script>
        var CSRF = {{ session['csrf']|tojson }};

        var currentTime = Math.round({{ weblab_user.time_left }});
        var LIGHT_URL = "{{ url_for('.light', number=12345) }}".replace("12345", "LIGHT");
        var STATUS_URL = "{{ url_for('.status') }}";
        var LOGOUT_URL = "{{ url_for('.logout_view') }}";
        var MICROCONTROLLER_URL = "{{ url_for('.microcontroller') }}";

        var running = currentTime > 0;
    </script>

    <script src="{{ url_for('static', filename="js/lab.js") }}"></script>
{% endblock %}
